/* --------------------------------------------------
BASE
-------------------------------------------------- */

body {
    font-family: "Hiragino Kaku Gothic ProN", "Open Sans", Meiryo, sans-serif;
  }
  
  img {
    width: 100%;
  }
  
  
  /* --------------------------------------------------
  CUSTOM
  -------------------------------------------------- */
  
  .Main {
    background: url(../img/main.jpg) center center/cover no-repeat;
    height: 50vh;
    padding-bottom: 45%;
    position: relative;
    overflow: hidden;
  }
  
  .Main__title {
    color: #fff;
    position: absolute;
    top: 48%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    width: 100%;
  }
  
  .Main__subTitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  @media screen and (max-width: 600px) {
    .Main__subTitle {
      font-size: 4vw;
    }
  }
  
  .Main__mainTitle {
    font-size: 4rem;
  }
  
  @media screen and (max-width: 600px) {
    .Main__mainTitle {
      font-size: 10vw;
    }
  }
  
  .Header {
    width: 100%;
    position: absolute;
    z-index: 1;
  }
  
  .Header__inner {
    padding: 1.5rem 0 .5rem;
    width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  @media screen and (max-width: 1200px) {
    .Header__inner {
      width: 85%;
    }
  }
  
  .Header__title {
    color: #fff;
    font-size: 1.5rem;
  }
  
  .Header__sns {
    width: 30px;
    -webkit-transition: .2s, ease-in;
    -o-transition: .2s, ease-in;
    transition: .2s, ease-in;
  }
  
  .Header__sns:hover {
    opacity: .65;
  }
  
  .Section {
    padding: 10rem 0;
  }
  
  .Section__title {
    color: #5FC9B0;
    font-size: 3rem;
    text-align: center;
    position: relative;
    margin: 0 auto 4rem;
  }
  
  .Section__title:before {
    content: '';
    position: absolute;
    bottom: -15px;
    display: inline-block;
    width: 60px;
    height: 5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #5FC9B0;
    border-radius: 2px;
  }
  
  .Section__memberName {
    font-size: 2rem;
    margin: 2rem 0;
    text-align: center;
  }
  
  
  /* --------------------------------------------------
  ABOUT
  -------------------------------------------------- */
  .About {
    background-color: #ffffff;
  }
  
  .About__inner {
    padding: 1.5rem 0 .5rem;
    width: 1200px;
    margin: 0 auto;
  }
  
  @media screen and (max-width: 1200px) {
    .About__inner {
      width: 85%;
    }
  }
  
  .About__message {
    color: #545A57;
    text-align: center;
    line-height: 3;
  }
  /* -----------------------------
  ----------------------------- */
  
  
  
  /* --------------------------------------------------
  .SEMINAR
  -------------------------------------------------- */
  
  .Seminar_title {
    color: #5FC9B0;
    font-size: 3rem;
    text-align: center;
    position: relative;
    margin: 0 auto 4rem;
    padding: 1.5em 0 .5rem;
  }

  .Seminar_title:before {
    content: '';
    position: absolute;
    bottom: -15px;
    display: inline-block;
    width: 60px;
    height: 5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #5FC9B0;
    border-radius: 2px;
  }

  .Section_Seminar {
    background-color: paleturquoise;
    height: 700px;
  }
  .Section_Seminar img {
    width: 100%;
    height: 100%;
  }

    
  .Seminar_inner {
    max-width: 1080px;
    margin: 0 auto;
  }

  .image1 {
    position: relative;
    object-fit:cover
    grid-area: img1;
  }
  .image1 p {
    position: absolute;
    top: 5%;
    left: 5%;
    margin: 10%;
    color: white;
  }

  .image2 {
    position: relative;
    grid-area: img2;
  }
  .image2 p {
    position: absolute;
    top: 5%;
    left: 5%;
    margin: 10%;
    color: white;
  }
  
  .image3 {
    position: relative;
    grid-area: img3;
  }
  .image3 p {
    position: absolute;
    top: 5%;
    left: 5%;
    margin: 10%;
    color: white;
  }
  
  .image4 {
    position: relative;
    grid-area: img4;
  }
  .image4 p {
    position: absolute;
    top: 5%;
    left: 5%;
    margin: 10%;
    color: white;
  }

  .image5 {
    position: relative;
    grid-area: img5;
  }
  .image5 p {
    position: absolute;
    top: 5%;
    left: 5%;
    margin: 10%;
    color: white;
  }

  .Seminar_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 200px);
        grid-template-areas:
      "img1 img2 img3"
      "img4 img5  .";
    gap: 5px;
    margin: 0 auto;
    width: 95%;
  }

  @media screen and (max-width: 1200px) {
    .Section_Seminar {
      background-color: paleturquoise;
      height: 900px;
    }
    .Seminar_container {
      width: 80%;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: repeat(3, 200px);
      grid-template-areas:
      "img1 img2"
      "img3 img4"
      "img5  ."
    }
  }
  
  
  @media screen and (max-width: 600px) {
    .Section_Seminar {
      background-color: paleturquoise;
      height: 1300px;
    }
    .Seminar_container {
      width: 80%;
      grid-template-columns: repeat(1,1fr);
      grid-template-rows: repeat(5, 200px);
      grid-template-areas:
      "img1"
      "img2"
      "img3"
      "img4"
      "img5"
    }
    }
  /* -----------------------------
  ----------------------------- */
  
  /* --------------------------------------------------
  GALLERY
  -------------------------------------------------- */
  
  .Gallery {
    color: #5FC9B0;
    font-size: 3rem;
    text-align: center;
    position: relative;
    margin: 0 auto 4rem;
  }
  .Gallery:before {
    content: '';
    position: absolute;
    bottom: -15px;
    display: inline-block;
    width: 60px;
    height: 5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #5FC9B0;
    border-radius: 2px;
  }

  img {
    width: 100%;
    height: 100%;
  }
  
  .Gallery_inner {
    max-width: 1080px;
    margin: 0 auto;
  }
  
  .gallery_item1 {
    grid-area: item1;
  }
  
  .gallery_item2 {
    grid-area: item2;
  }
  
  .gallery_item3 {
    grid-area: item3;
  }
  
  .gallery_item4 {
    grid-area: item4;
  }
  
  .gallery_item5 {
    grid-area: item5;
  }
  
  .gallery_item6 {
    grid-area: item6;
  }
  
  .gallery_item7 {
    grid-area: item7;
  }
  
  .gallery_item8 {
    grid-area: item8;
  }
  
  .gallery_item9 {
    grid-area: item9;
  }
  
  .gallery_item10 {
    grid-area: item10;
  }
  
  .gallery_item11 {
    grid-area: item11;
  }
  
  .gallery_item12 {
    grid-area: item12;
  }
  
  .gallery_item13 {
    grid-area: item13;
  }
  
  .gallery_item14 {
    grid-area: item14;
  }
  
  .gallery_item15 {
    grid-area: item15;
  }
  
  .gallery_item16 {
    grid-area: item16;
  }
  
  .gallery_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 100px);
    grid-template-areas:
      "item1 item1 item2 item2 item3"
      "item1 item1 item2 item2 item3"
      "item4 item5 item6 item6 item7"
      "item4 item5 item6 item6 item8"
      "item9 item9 item10 item10 item11"
      "item12 item13 item14 item14 item15"
      "item12 item13 item14 item14 item16";
    gap: 5px;
    margin: 0 auto;
    width: 95%;
  }
  
  @media screen and (max-width: 1200px) {
    .gallery_container {
      width: 70%;
      grid-template-columns: repeat(3,1fr);
      grid-template-rows: repeat(10, 100px);
      grid-template-areas:
      "item1 item1 item2"
      "item1 item1 item2"
      "item3 item5 item5"
      "item4 item5 item5"
      "item6 item7 item8"
      "item9 item9 item10"
      "item9 item9 item11"
      "item12 item13 item13"
      "item14 item13 item13"
      "item14 item15 item16"
    }
  }
  
  @media screen and (max-width: 600px) {
    .gallery_container {
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: repeat(12, 100px);
      grid-template-areas:
      "item1 item2"
      "item1 item3"
      "item4 item3"
      "item4 item5"
      "item6 item6"
      "item6 item6"
      "item7 item8"
      "item9 item10"
      "item9 item10"
      "item11 item12"
      "item13 item14"
      "item15 item16"
    }
  }
  
  
  /* -----------------------------
  ----------------------------- */
  
  /* --------------------------------------------------
  FOOTER
  -------------------------------------------------- */
  
  .Footer {
    background-color: #272E2B;
  }
  
  .Footer__inner {
    width: 1200px;
    margin: 0 auto;
    padding: 4rem 0;
  }
  
  @media screen and (max-width: 1200px) {
    .Footer__inner {
      width: 85%;
    }
  }
  
  .Footer__inner p {
    text-align: center;
  }
  
  .Footer__inner p {
    color: #fff;
    text-decoration: none;
  }