@charset "utf-8";

/*** The new CSS reset - version 1.8.4 (last updated 14.2.2023) ***/

*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg*, symbol*)) {
  all: unset;
  display: revert
}

*,
*::before,
*::after {
  box-sizing: border-box
}

* {
  padding: 0;
  margin: 0;
}

a,
button {
  cursor: revert
}

ol,
ul,
li,
menu {
  list-style: none
}

img {
  max-inline-size: 100%;
  max-block-size: 100%
}

table {
  border-collapse: collapse
}


textarea {
  white-space: revert
}

meter {
  -webkit-appearance: revert;
  appearance: revert
}

:where(pre) {
  all: revert
}

::placeholder {
  color: unset
}

::marker {
  content: initial
}

:where([hidden]) {
  display: none
}

:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
}

:where([draggable="true"]) {
  -webkit-user-drag: element
}

:where(dialog:modal) {
  all: revert
}

select {
  -webkit-appearance: none;
  /* ベンダープレフィックス(Google Chrome、Safari用) */
  -moz-appearance: none;
  /* ベンダープレフィックス(Firefox用) */
  appearance: none;
  /* 標準のスタイルを無効にする */
}

::-ms-expand {
  /* select要素のデザインを無効にする（IE用） */
  display: none;
}

@font-face {
  font-family: 'DIN Condensed';
  src: url('path/to/font/D-DINCondensed-Bold.woff2') format('woff2'),
    /*モダンブラウザ*/
    url('path/to/font/D-DINCondensed-Bold.woff') format('woff');
  /*一部の古いブラウザ*/
  font-weight: normal;
  font-style: normal;
}