/*MajorStyle*/

.background1 {
    background-color: blanchedalmond;
}

.background2 {
    width: 500px;
    height: 250px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQFjc6X-Gs9T6SHCcy_gpfJ56QhnvuKv3y5qrPQ27MxNHqCYhhhsnmG6QI5JApL6VywiY&usqp=CAU");
}

.background3 {
    width: 500px;
    height: 250px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQFjc6X-Gs9T6SHCcy_gpfJ56QhnvuKv3y5qrPQ27MxNHqCYhhhsnmG6QI5JApL6VywiY&usqp=CAU");
    background-attachment: fixed;
}

.background4 {
    width: 500px;
    height: 250px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQFjc6X-Gs9T6SHCcy_gpfJ56QhnvuKv3y5qrPQ27MxNHqCYhhhsnmG6QI5JApL6VywiY&usqp=CAU");
    background-origin: content-box;
}

.background5 {
    width: 500px;
    height: 250px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQFjc6X-Gs9T6SHCcy_gpfJ56QhnvuKv3y5qrPQ27MxNHqCYhhhsnmG6QI5JApL6VywiY&usqp=CAU");
    background-repeat: no-repeat
}

.background6 {
    width: 500px;
    height: 250px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQFjc6X-Gs9T6SHCcy_gpfJ56QhnvuKv3y5qrPQ27MxNHqCYhhhsnmG6QI5JApL6VywiY&usqp=CAU");
    background-position: center;
}

.border1 {
    border-bottom: solid;
}

.border2 {
    border-bottom: solid;
    border-color: chocolate;
}

.border3 {
    border-left: solid;
}

.border4 {
    border-right: solid;
}

.border5 {
    border-top: solid;
}

.border6 {
    border-style: double;
}

.border7 {
    border-top: solid;
    border-width: thick;
}

.border8 {
    border: solid
}

.color1 {
    color: blue;
}

.cursor1 {
    cursor: pointer;
}

.display1 {
    display: inline-block;
}

.filter1 {
    filter: blur(5px);
}

.float1 {
    float: right;
}

.float2 {
    clear: both;
}

.test004 {
    font-family: 'Courier New', Courier, monospace;
}

.test005 {
    font-size: small;
}

.test006 {
    font-weight: bold;
}

.test007 {
    font: italic bold 10px/1.2 Arial
    sens-serif;
}

.height1 {
    background-color: aqua;
    height: 120px;
}

.width1 {
    background-color: aqua;
    width: 120px;
}

.test008 {
    letter-spacing: 10px;
}

.test009 {
    line-height: 1;
}

.test010 {
    list-style-image: url("https://www.civillink.net/fsozai/sozai/list/hoshi4.gif");
}

.test011 {
    list-style-position: inside;
}

.test012 {
    list-style-type: circle;
}

.test013 {
    list-style: square outside;
}

.margin1 {
    margin-bottom: 50px;
}

.margin2 {
    margin-left: 50px;
}

.margin3 {
    margin-right: 50px;
}

.margin4 {
    margin-top: 50px;
}

.margin5 {
    margin: 50px 50px 50px;
}

.padding1 {
    padding-bottom: 5%;
}

.padding2 {
    padding-left: 1%;
}

.padding3 {
    padding-right: 1em;
}

.padding4 {
    padding-top: 3%;
}

.padding5 {
    padding: 1px 2px 1px;
}

.test013 {
    overflow: auto;
}

.position1 {
    width: 100px;
    height: 100px;
    background: red;
}

.position2 {
    position: relative;
    top: 40px; left: 40px;
    width: 100px;
    height: 100px;
    background: blue;
}

.test014 {
    text-align: center;
}

.test015 {
    text-decoration-line: underline;
}

.test016 {
    text-indent: 10px;
}

.test017 {
    vertical-align: bottom;
}

.test018 {
    visibility: hidden;
}

.test019 {
    position: relative;
}
.test020 {
    position: absolute;
    z-index: 2; 
    background: green;
    width: 80%;
    left: 60px;
    top: 3em;
}
.test021 {
    position: absolute;
    z-index: 1; 
    background: lightgreen;
    width: 20%;
    left: 65%;
    top: -10px;
    height: 7em;
    opacity: 0.9;
}

/*PseudoClass*/

.test022:hover {
    background-color: blue;
}

.test023:focus {
    background: turquoise;
    color: blue;
}

.test024 input[type="checkbox"]:checked {
    outline:  orange;
}

.test025 p:first-child {
    color: blue;
}

.test026 p:first-of-type {
    color: brown;
}

.test027 p:last-child {
    color:red;
}

.test028 p:not(:last-child) {
    color: blue;
}

.test029 p:nth-child(2) {
    color: blue;
}

.test030 button:active {
    color: blue;
}

/*PseudoElements*/
.test031 p::after {
    content: "after";
    color: red;
}

.test032 p::before {
    content: "before";
    color: blue;
}