/* src/App.css */

/* 既存のスタイル */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 新規投稿画面のスタイル */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 90%; /* ベースの横幅を広げる */
  max-width: 800px; /* 最大横幅を設定 */
}

.form-fields-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.title-input {
  width: 70%; /* スマホの時は70% */
}

.content-textarea {
  width: 100%;
  position: relative; /* 親要素を相対位置に */
}

.submit-button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

@media (min-width: 600px) {
  .title-input {
    width: 40%; /* タブレットの時は40% */
  }
}

@media (min-width: 1025px) {
  .title-input {
    width: 40%; /* PCの時は40% */
  }
}




