/* ベースのスタイリング */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  padding: 20px;
}

.post-form__label {
  display: block;
  margin-bottom: 5px;
}

.post-form__input--title {
  width: 40%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.post-form__input--content {
  width: 60%; 
  height: 150px; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.post-form__button {
  background-color: #5D93E1;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 30px;
}

.post-form__button:hover {
  background-color: #3c7dcf;
}

/* 投稿済み記事一覧のスタイル */
.posted-articles__container {
  border: 1px solid #89C997; /* 緑色の枠線 */
  padding: 20px;
  background-color: #EFFAF1; /* 薄い緑色の背景 */
  margin-bottom: 20px;
}

.posted-article__label,
.posted-article__title,
.posted-article__content {
  display: block; /* ブロックレベル要素として表示 */
  margin-top: 10px;
  margin-bottom: 10px;
}

.posted-article__label {
  font-weight: bold; /* ラベルは太字に */
}

.posted-article__actions {
  text-align: right; /* ボタンを右に寄せる */
}

.post__button {
  background-color: #f0ad4e;
  color: white;
  margin: 5px; /* ボタン間の余白 */
  padding: 10px 20px; /* ボタン内の余白 */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.post__button:hover {
  background-color: #ec971f;
}

.post__button--delete {
  background-color: #d9534f;
}

.post__button--delete:hover {
  background-color: #c9302c;
}

.modal {
  display: none; /* モーダルを非表示にする */
  position: fixed; /* ページに固定 */
  z-index: 1; /* コンテンツの上に表示 */
  left: 0;
  top: 0;
  width: 100%; /* フル幅 */
  height: 100%; /* フル高さ */
  overflow: auto; /* モーダル外のコンテンツがスクロールする */
  background-color: rgba(0,0,0,0.4); /* 背景色の透明度 */
}

.modal__content {
  background-color: #fefefe;
  margin: 15% auto; /* 上下のマージンと自動横マージン */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* モーダルの幅 */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); /* 影の効果 */
}

.modal__close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modal__close:hover,
.modal__close:focus {
  color: black;
  text-decoration: none;
}

.post__button--cancel,
.post__button--update {
  background-color: slategray;
}

.post__button--cancel:hover,
.post__button--update:hover {
  background-color: grey;
}