.container {
    background-image: url("../images/Untitled.png");
    padding: 15px;
    }

.container h2 {
    text-align: center;
  }
  .form {
    margin-bottom: 20px;
    max-width: 700px;
    margin: 0 auto;
  }

  label {
    font-weight: bold;
  }

  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
  }
  textarea {
    resize: vertical;
  }

  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #D70C19;
    color: white;
    border: none;
    border-radius: 5px;
    max-width: 400px;
    margin: 0 auto;
  }

  button:hover {
    background-color: #B2050E;
  }

  #successMessage {
    text-align: center;
  }

  .error {
    color: red;
    font-size: 12px;
  }