/* src/styles.css */
.parallax {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: flex-start; /* flex-start に変更 */
}

.scroller {
  display: inline-block;
  white-space: nowrap;
  will-change: transform;
  font-size: 4rem;
  font-family: 'Impact', sans-serif;
  font-weight: bold;
  color: #EEEEEE;
}
